=render 'navbar'
.container-fluid
= form_tag bike_management_page_path, :method => :post, :action => "create" do
	%h2 Add bike
	= label :bike, :bike_id, 'id#'
	= text_field :bike, :bike_id
	=submit_tag "Create", :controller => "bike", :action => "create", :method => "put",:class => "bike_mangement"

	%h2 Manual bike move
	= label :bike, :bike_id, 'id#'
	= text_field :bike, :bike_id
	%br
	= label :bike, :location_id, 'location id'
	= text_field :bike, :location_id
	=submit_tag "Update", :controller => "bike", :action => "update", :method => "put",:class => "bike_mangement"
%br 
%br 
%br 
Note, this page is likely temporary and will be replaced with added functionality rendered to ~/bike_list/ when it is detected that the session's user is an admin